.cards{
    display: flex;
}

.card{
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2)0  7px 29px 0;
    width: 25%;
    margin-left: 30px;
}