.cards{
    display: flex;
    margin-left: -30px;

}

.card{
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2)0  7px 29px 0;
    width: calc(25% - 30px);
    margin-left: 30px;
}
.card-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}